[submodule "Libraries/GLFW"]
	path = Libraries/GLFW
	url = https://github.com/glfw/glfw
[submodule "Libraries/spdlog"]
	path = Libraries/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Libraries/tinygltf"]
	path = Libraries/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "Libraries/glm"]
	path = Libraries/glm
	url = https://github.com/g-truc/glm
[submodule "Libraries/imgui"]
	path = Libraries/imgui
	url = https://github.com/ocornut/imgui
[submodule "Libraries/json"]
	path = Libraries/json
	url = https://github.com/nlohmann/json
[submodule "Libraries/lua"]
	path = Libraries/lua
	url = https://github.com/lua/lua
[submodule "Libraries/bullet3"]
	path = Libraries/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "Libraries/ImGuizmo"]
	path = Libraries/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
